<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form name="registerForm" class="form-signin" ng-submit="register()" novalidate>
        <h4 class="alert alert-info">{{ prompts.registerPageTitle }}</h4>              
        <p class="text-danger" ng-show="invalidmessage">{{invalidmessage}}</p>

        <div class="clearfix"></div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6 required">
          <label for="onlineID" ng-class="applyThisClass(member)">{{prompts.onlineID}}</label>
          <input class="form-control" 
                 type="text" 
                 name="onlineid" 
                 placeholder="{{prompts.onlineID}}" 
                 ng-model="member.onlineid" 
                 ng-required="true">
          <p class="text-danger" 
             ng-show="registerForm.onlineid.$invalid && 
                     registerForm.onlineid.$touched">{{prompts.errOnlineID}}</p>
        </div>

        <div class="form-group col-xs-10 col-sm-3 col-md-3 col-lg-3 required">
            <label for="inputPassword" ng-class="applyThisClass(member)">{{prompts.password}}</label>
            <input class="form-control"
                   type="password"
                   name="password" 
                   id="pw1"
                   placeholder="{{prompts.password}}"
                   ng-model="member.password" 
                   ng-required="true" 
                   ng-minlength='5'>
            <p class="text-danger"
                  ng-show="registerForm.password.$touched && 
                           registerForm.password.$error.required">{{promptsReg.errPasswordRequired}}</p>
            <p class="text-danger"
               ng-show="registerForm.password.$touched &&
                        registerForm.password.$error.minlength">{{promptsReg.errPasswordLength}}</p>
        </div>

        <div class="form-group col-xs-10 col-sm-3 col-md-3 col-lg-3 required">
            <label for="inputPasswordConfirm" ng-class="applyThisClass(member)">{{prompts.passwordConfirm}}</label>
              <input class="form-control" 
                     type="password" 
                     name="confirmpassword" 
                     id="pw2"
                     placeholder="{{prompts.password}}"
                     ng-model="member.confirmpassword" 
                     ng-required="true" 
                     ng-minlength='5' 
                     pw-check="pw1" />
              <p class="text-danger"
                 ng-show="registerForm.confirmpassword.$touched && 
                          registerForm.confirmpassword.$error.required">{{promptsReg.errPasswordRequired}}</p>
              <p class="text-danger"
                 ng-show="registerForm.confirmpassword.$touched &&
                          !registerForm.confirmpassword.$error.pwmatch && 
                          registerForm.confirmpassword.$error.minlength">{{promptsReg.errPasswordLength}}</p>                           
              <p class="text-danger"
                  ng-show="registerForm.confirmpassword.$touched && 
                           registerForm.confirmpassword.$error.pwmatch && 
                           !registerForm.confirmpassword.$error.required">{{promptsReg.errPasswordDifferent}}</p>
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6 required">
          <label for="inputNameFirst" ng-class="applyThisClass(member)">{{promptsReg.nameFirst}}</label>
          <input class="form-control" 
                 type="text" 
                 name="nameFirst" 
                 placeholder="{{promptsReg.nameFirst}}"
                 ng-model="member.name_first" 
                 ng-required="true">
          <p class="text-danger"
             ng-show="registerForm.nameFirst.$invalid && 
                      registerForm.nameFirst.$touched">{{promptsReg.errNameFirst}}</p>
        </div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6 required">
          <label for="inputNameLast" ng-class="applyThisClass(member)">{{promptsReg.nameLast}}</label>
          <input class="form-control" 
                 type="text" 
                 name="nameLast" 
                 placeholder="{{promptsReg.nameLast}}"
                 ng-model="member.name_last" 
                 ng-required="true">
          <p class="text-danger"
             ng-show="registerForm.nameLast.$invalid && 
                      registerForm.nameLast.$touched">{{promptsReg.errNameLast}}</p>
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6 required">
          <label for="inputnameBusiness" ng-class="applyThisClass(member)">{{promptsReg.nameBusiness}}</label>
          <input class="form-control" 
                 type="text" 
                 name="nameBusiness" 
                 placeholder="{{promptsReg.nameBusiness}}"
                 ng-model="member.name_business" 
                 ng-required="true">
          <p class="text-danger"
             ng-show="registerForm.nameBusiness.$invalid && 
                      registerForm.nameBusiness.$touched">{{promptsReg.errNameBusiness}}</p>
        </div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputOccupation" ng-class="applyThisClass(member)">{{promptsReg.occupation}}</label>
          <input class="form-control" 
                 type="text" 
                 name="occupation" 
                 placeholder="{{promptsReg.occupation}}"
                 ng-model="member.occupation" 
                 ng-required="false">
          <p class="text-danger"
             ng-show="registerForm.occupation.$invalid && 
                      registerForm.occupation.$touched">{{promptsReg.errOccupation}}</p>
        </div> 

        <div class="clearfix"></div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6 required">
          <label for="inputPhone" ng-class="applyThisClass(member)">{{promptsReg.phonePrimary}}</label>
          <input class="form-control" 
                 type="text" 
                 name="phone" 
                 placeholder="{{promptsReg.phonePrimary}}"
                 ng-model="member.phone_main" 
                 ng-required="true">
          <p class="text-danger"
             ng-show="registerForm.phone.$invalid && 
                      registerForm.phone.$touched">{{promptsReg.errPhonePrimary}}</p>
        </div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputPhoneAlternate" ng-class="applyThisClass(member)">{{promptsReg.phoneAlternate}}</label>
          <input class="form-control" 
                 type="text" 
                 name="phoneAlternate" 
                 placeholder="{{promptsReg.phoneAlternate}}"
                 ng-model="member.phone_secondary" 
                 ng-required="false">
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6 required">
          <label for="inputPassword" ng-class="applyThisClass(member)">{{promptsReg.email}}</label>
          <input class="form-control" 
                 type="email" 
                 name="email" 
                 placeholder="{{promptsReg.email}}" 
                 ng-model="member.email" 
                 ng-required="true">
          <p class="text-danger"
             ng-show="registerForm.email.$invalid && 
                      registerForm.email.$touched">{{promptsReg.errEmail}}</p>
        </div>

        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <label for="inputComment" ng-class="applyThisClass(member)">{{promptsReg.comment}}</label>
          <input class="form-control" 
                 type="text" 
                 name="comment" 
                 placeholder="{{promptsReg.commentOptional}}"
                 ng-model="member.comments" 
                 ng-required="false">
        </div>        

        <button class="btn btn-lg btn-success btn-block" 
                type="submit" 
                ng-disabled="registerForm.$invalid">{{promptsReg.btnRegister}}
        </button>
        <button class="btn btn-lg btn-primary btn-block" 
                type="button" onclick="window.history.go(-1);">{{promptsReg.btnCancel}}
        </button>

      </form>
    </div>
</div>
